
html {
  background-color: #003262;
}

h1 {
  font-size: 50px;
  color: rgb(209, 184, 142);
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  margin: 0;
  padding: 20px 0;
  text-shadow: 3px 3px 1px black;
}

h2 {
  font-size: 30px;
  color: rgb(221, 214, 198);
}

h3 {
  font-size: 30px;
  color: rgb(221, 214, 198);
  text-align: center;
}

p, li {
  font-size: 24px;
  color: rgb(202, 192, 164);
  line-height: 2;
  letter-spacing: 1px;
}

ul, li {
  text-align: center;
  list-style: none;
}

body {
  width: 1000px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

img {
  display: block;
  margin: 0 auto;
}
